@use '../../../variables' as *;

.sr {
  &__table-card {
    padding: 1rem;
  }

  &__section-title {
    font-size: 0.9375rem;
    font-weight: 600;
    margin: 0 0 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    i { color: $secondary; }
  }
}
